{% extends "marketplace/base.html" %}
{% block content %}

<div style="background-color: #f3dfc9">
    <div class="container py-4">
        <h1 style="font-weight:bold; text-align:center">
            CAS Login <br>
            <p style="font-size:15px; text-align:center; font-weight:normal; padding-top:1%">Please select an institution to login with.</p>
        </h1>
        <div class="row d-flex justify-content-center">
            {% for info in quoted_cas_infos %}
            <div class="col-12 my-2 d-flex justify-content-center">
                <a href="{% url 'cas_redirect' info.1 quoted_url %}" class="btn btn-outline-secondary"><h4>{{info.0}}</h4></a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}