{% extends "marketplace/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div style="background-color: #f3dfc9">
    <div class="container py-4" id="about-us">
        <h1 style="font-weight:bold; text-align:center; padding-bottom: 15px">
            The Developers <br>
            <p style="font-size:15px; text-align:center; font-weight:normal; padding-top:1%">Please provide feedback in the Google Form below.</p>
        </h1>
        <div class="teamprofile row">
            <div class="col-12 col-lg-3 my-4" style="text-align: center;">

                <div id="Phoebe"></div>
                <p class="aboutteam">
                    Phoebe Lin '23<br> 
                </p>
                <div class="d-flex d-lg-flex team-details row">
                    <div style="text-align: center; font-size: 15px;">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 my-4" style="text-align: center;">
                <div id="Sara"></div>
                <p class="aboutteam">
                    Sara Schwartz '23<br>  
                </p>
                <div class="d-flex d-lg-flex team-details row">
                    <div style="text-align: center; font-size: 15px;">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 my-4" style="text-align: center;">
                <div id="Albert"></div>
                <p class="aboutteam">
                    Albert Lin '23<br> 
                </p>
                <div class="d-flex d-lg-flex team-details row">
                    <div style="text-align: center; font-size: 15px;">        
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 my-4" style="text-align: center;">
                <div id="Katie"></div>
                <p class="aboutteam">
                    Katie McLaughlin '23<br>  
                </p>
                <div class="d-flex d-lg-flex team-details row">
                    <div style="text-align: center; font-size: 15px;">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <p class="aboutteam">
                 For bugs, feedback, and support, contact the 
                <a href="https://tigerapps.org/" target="_blank">TigerApps</a> team at:
                <a href="mailto:it.admin@tigerapps.org"><b>it.admin@tigerapps.org</b></a>
            </p>
        </div>
    </div>
    </div>
    <br>
</div>
<div class="container">
    <div class="row" style="text-align: center">
        <p>
        <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSdG0tUu83mnzcQVjfoT_Xke7HIUfDiV7JiGfeDIr93w_xIIzQ/viewform?embedded=true"
            width="640" height="688" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe></p>
    </div>
</div>
{% endblock content %}