{% extends "marketplace/base.html" %}
{% block content %}

<div class="topbar" style="text-align: right;">
  <a href="{% url 'gallery' %}" class="btn btn-outline-dark" style="font-weight: bold;">BACK TO IMAGE GALLERY</a>
</div>

<div class="gallery_back container-fluid mb-3">

    <div class="container my-4">
      <div id="gallery_title">{{item_request.name}}</div>
      <hr>

    <h5 style="text-align:center;">(Click Image to Zoom)</h5>
    <div id="myCarousel{{item_request.pk}}" class="carousel slide text-center multi-item-carousel"
      data-bs-ride="carousel">
      <br>
      <div class="carousel-inner" role="listbox">
        <!--carousel-item active-->
        <div class="carousel-item active">
          <a style="cursor: zoom-in;" target="_blank" href="{{ item_request.image.url }}">
            <img src="{{ item_request.image.url }}" style="max-width: 220px; max-height: 150px; width: auto; height: auto;">
          </a>
        </div>
      </div>
      <br>
    </div>
    <div class="mb-4" style="background:#d8e2dc; border-radius:10px;" id="description">
      <div class="item-details">
        {%if item_request.negotiable == True%}
        <p class="card-text"><i class="fas fa-tag"></i> ${{item_request.price}} USD (negotiable)</p>
        {%else%}
        <p class="card-text"><i class="fas fa-tag"></i> ${{item_request.price}} USD</p>
        {%endif%}
        <p class="card-text"><i class="fas fa-hourglass-half"></i> till {{item_request.deadline}}</p>
        <p class="card-text"><i class="fas fa-comment"></i> {{item_request.description}}</p>
        <p class="card-text"><i class="fa fa-check" aria-hidden="true"></i> Quality</p>
        {% if item_request.condition == Item.NEW%}
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
            style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        {% elif item_request.condition == Item.LIKE_NEW %}
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 85%"
            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        {% elif item_request.condition == Item.GENTLY_LOVED %}
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 70%"
            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        {% elif item_request.condition == Item.WELL_LOVED %}
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
            style="width: 55%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        {% elif item_request.condition == Item.POOR %}
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
            style="width: 40%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        {% endif %}
        <br>
        
      </div>
    </div>

    <a class="btn btn-success" style="padding-left: 23px; padding-right: 23px;" href="{% url 'contact_item_request' item_request.pk %}">Contact</a>
    <a style="margin-left: 10px;" href="{% url 'flag_item_request' item_request.pk %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Report"><i class="fas fa-flag" style="color:orange;"></i></a>
    </div>

</div>
{% endblock content %}